.nav_container_mob{
    width: 100dvw;
    padding-top: .5rem;
    position: fixed;
    z-index: 4;
    padding-bottom: .5rem;
    transition: 1s;
    position: relative;
}
.nav_main_mob{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_mob_menu_btn{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.bar{
    width: 100%;
    height: 3.5px;
    background-color: var(--black);
    margin-bottom: 3.5px;
    border-radius: 50px;
    transition: all .5s;
}
.right{
    width: 60%;
    position: absolute;
    transform: rotate(-315deg);
}
.left{
    width: 60%;
    position: absolute;
    transform: rotate(315deg);
}
.opaZero{
    opacity: 0;
}
.nav_mob_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 150dvh;
    background-color: var(--white);
}
.displayNone{
    display: none;
}
.nav_mob_menu_container{
    width: 100%;
    height: 65%;
    padding: 10rem 2rem 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}
.nav_mob_menu_container a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--black);
    font-family: var(--f2);
    font-size: 1.5rem;
    font-weight: var(--w3);
    text-wrap: nowrap;
}
.mob_menu_logo{
    position: absolute;
    bottom: 5%;
}